* {
  box-sizing: border-box;
  font-family: "Open sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
}
.articleWrapper h1 {
  font-size: 2em;
}

.CodeMirror-sizer {
  padding: 1rem 0 !important;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100vw;
  max-width: 100%;
}
